<div class="uk-card uk-card-small uk-card-body uk-card-tint uk-card-danger raised">
    <div uk-grid>
        <div class="uk-width-auto">
            <div class="svg-icon small"></div>
        </div>
        <div class="uk-width-expand uk-text-left">
            <h3 class="uk-card-title">It Starts with Collecting Data</h3>
            <p class="text-light">
                <span class="line uk-text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente optio nemo quod ad labore sit et magni fugiat. Tempore illo dolore aspernatur ipsam! Inventore, ea!</span> 
            </p>
            
        </div>
    </div>
</div>