<div class="uk-card uk-card-small uk-card-body uk-card-tint uk-card-danger raised">
    <div uk-grid>
        <div class="uk-width-auto">
            <div class="svg-icon small"></div>
        </div>
        <div class="uk-width-expand uk-text-left">
            <h3 class="uk-card-title">Intelligence A Step Ahead</h3>
            <p class="text-light">
                <span class="line uk-text-justify">The Data is processed along with our secret algorithms to provide you better insights on.</span> 
                <ul class="uk-list uk-list-bullet text-light uk-text-small">
                    <li>Demand forcasts</li>
                    <li>Store Orders</li>
                    <li>Price and Promotions</li>
                    <li>Pattern Recognition</li>
                    <li>Recommendations</li>
                </ul>
            </p>
            
        </div>
    </div>
</div>