{% extends "layouts/app.layout.njk" %}

{% block content %}

    <div id="bodyWrapper">

        {# Hamburger #}
        {% include "partials/hamburger-menu.partial.njk" %}

        {# Navbar #}
        {% import "macros/navbar.macro.njk" as navbar %}
        {{ navbar.nav(app, 'home') }}

        {# Hero #}
        {% include "sections/hero.section.njk" %}

        {# About #}
        {% include "sections/about.section.njk" %}

        {# Features #}
        {% include "sections/features.section.njk" %}

        {# Benefits #}
        {% include "sections/benefits.section.njk" %}

        {# How it works #}
        {% include "sections/how-it-works.section.njk" %}

        {# Pricing #}
        {% include "sections/pricing.section.njk" %}

        {# Mission #}
        {% include "sections/mission.section.njk" %}

        {# Team #}
        {% include "sections/team.section.njk" %}   

        {# Advisors #}
        {% include "sections/advisors.section.njk" %}   

        {# Footer #}
        {% include "partials/footer.partial.njk" %}

        {# Modal #}
        {% include "partials/request-demo-modal.partial.njk" %}

    </div>

{% endblock %}