{% extends "layouts/app.layout.njk" %}

{% block content %}

    <div id="bodyWrapper">

        {# Navbar #}
        {% import "macros/navbar.macro.njk" as navbar %}
        {{ navbar.nav(app, 'home') }}

        {# Hero #}
        {% include "sections/hero.section.njk" %}

        {# About #}
        {% include "sections/about.section.njk" %}

        {# Features #}
        {% include "sections/features.section.njk" %}

        {# Benefits #}
        {% include "sections/benefits.section.njk" %}

        {# {% include "partials/footer.partial.njk" %} #}

    </div>

{% endblock %}