{% macro nav(app, activePage = 'home') %}
<nav class="uk-navbar-container uk-container uk-navbar-transparent" uk-navbar="mode: click">
    <div class="uk-navbar-left">
        <a href="{{app.url}}" class="uk-navbar-item uk-padding-remove">
            <img src="{{app.logo}}" alt="{{app.title}}" width="32px" uk-img>
        </a>
        <a href="{{app.url}}" class="uk-navbar-item uk-logo uk-text-secondary uk-visible@m">
            {{app.title}}
        </a>

    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav" uk-scrollspy-nav="closest: li; scroll: true">
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#features">Features</a>
            </li>
            <li>
                <a href="#benefits">Benefits</a>
            </li>
            <li>
                <a href="#how_it_works">How It Works</a>
            </li>
            <li>
                <a href="#team">Team</a>
            </li>
            <li>
                <a href="#blog">Blog</a>
            </li>
        </ul>

        <div class="uk-navbar-item">
            <button href="#contact" class="uk-button uk-button-outline uk-button-primary">
                Contact Us
            </button>
        </div>
        
    </div>
</nav>
{%- endmacro %}