/*
* -------------------------------------------------------------------------------------------------------------------
* This file manages the mixin overwrites for customizing UIKit.
* -> Refer to https://getuikit.com/docs/sass for more info.
* -------------------------------------------------------------------------------------------------------------------
* Note: Do not use this file for writing custom css.
* Note: Use _variables.scss for overriding or including variables
*/

// => Your hooks here //

/*
@mixin hook-card () {

    // => Include customization for card
    
}
*/

@mixin hook-button () {

    border-radius: 50rem;
    font-weight: $font-weight-strong;
    font-size: 0.9rem;
    min-width: 165px;
    padding: 6px 30px;
    transition: all 0.2s ease-in-out;
    
    &:hover {
        transform: translateY(-5%)
    }

    &.uk-button-gradient {
        @include background-gradient(to right, $gradient-color1, $gradient-color2);
        color: $light;
    }

    &.uk-button-gradient-outline {
        @include border-gradient(top left, $gradient-color1, $gradient-color2, 2px);
        color: $primary;

        @each $key,$color in (light: $light, muted: $muted, tertiary: $tertiary)  {
            &.uk-button-#{$key} {
                color: $primary;

                @include border-gradient(top left, $gradient-color1, $gradient-color2, 2px, $color);
            }
        }

        &:hover {
            @include background-gradient(to right, $gradient-color1, $gradient-color2);
            color: $light;
        }
    }

    &.uk-button-raised {
        box-shadow: 0px 2px 11px 4px rgba(202,202,202,0.5)
    }

    &.uk-button-inverse {
        color: $dark;
        background: $light;
        border: none;

        @each $key,$color in $modifications  {
            &.uk-button-#{$key} {
                color: $color;

                &:hover {
                    color: darken($color, 15%);
                }
            }
        }
    }

    &.uk-button-outline {

        background: none;
        border: 2px solid $dark;
        color: $global-emphasis-color;

        &:hover {
            color: $light;
        }

        @each $key,$color in $modifications  {
            &.uk-button-#{$key} {
                border-color: $color;
                color: $color;

                &:hover {
                    color: $light;
                    background: $color;
                }
            }
        }
    }
}

@mixin hook-button-misc() {

    .uk-button-group {

        .uk-button {

            border-radius: 0;
            
            &:nth-child(n+2) {
                border-left: none;
            }

            &:first-child {
                border-top-left-radius: 50rem;
                border-bottom-left-radius: 50rem;
            }

            &:last-child {
                border-top-right-radius: 50rem;
                border-bottom-right-radius: 50rem;
            }

            &:hover {
                transform: none;
            }
        }
    }

    .uk-button-icon {
        height: 50px;
        min-width: 50px;
        width: 50px;
        padding: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

// navbar

// @mixin hook-navbar-item () {

//     &.uk-logo {
//         font-family: 'Nunito', sans-serif !important;
//         font-size: 26px;
//     }
// }

@mixin hook-navbar-nav-item () {

    text-transform: none;
    font-size: $global-font-size;
}

// section

@mixin hook-section () {
    
    &.uk-section-tertiary {
        background: $tertiary
    }

    &.uk-section-tilt {

        @include section-tilt()
    }

    &.uk-section-tilt\@m {

        @media screen and (min-width: $breakpoint-medium) {
            @include section-tilt()
        }
    }
}

// card

@mixin hook-card-misc () {

    .uk-card-tint {
        border-left: 12px solid $dark;

        @each $key, $color in $modifications{
            &.uk-card-#{$key} {
                background: $light;
                color: $global-emphasis-color;
                border-color: $color;
            }
        }
    }

}

@mixin hook-card () {
    border-radius: $global-border-radius;
}

@mixin hook-card-title () {

    font-weight: $font-weight-strong;
}

// List

@mixin hook-list-bullet () {

    border-radius: 50rem;
    background: $tint;
    width: 9px;
    height: 9px;
    top: calc(50% - 4.5px);
    left: 4.5px;
}

@mixin hook-list-misc () {

    .uk-list-clickable {
        margin-top: 4rem;
        li {
            margin-top: 0px !important;
            padding-top: 0px !important;
            border-top: 1px solid rgba(255,255,255,0.1);
    
            a {
                display: block;
                padding: 0.75rem 1.5rem;
    
            }
    
            &:hover {
                background: $dark;
            }
    
            &.uk-active {
                background: $primary;
            }

            &:last-child {
                border-bottom: 1px solid rgba(255,255,255,0.1);
            }
        }
    }

}

// tile 

@mixin hook-tile() {
    border-radius: $global-border-radius;
    
}

// header
@mixin hook-heading-misc () {

    $heading-mini-font-size-m: $heading-mini-font-size-l*0.875 !default;
    $heading-mini-font-size: $heading-mini-font-size-m*0.8 !default;

    $heading-xsmall-font-size-m: $heading-xsmall-font-size-l*0.875 !default;
    $heading-xsmall-font-size: $heading-xsmall-font-size-m*0.8 !default;

    .uk-heading-mini {
        font-size: $heading-mini-font-size;
    }

    .uk-heading-xsmall {
        font-size: $heading-xsmall-font-size;
    }

    .uk-heading-underline {
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            background: $tint;
            width: 25%;
            height: 3px;
            left: 0;
            top: 110%;
        }
    }

    @media (min-width: $breakpoint-medium) {

        .uk-heading-mini{ font-size: $heading-mini-font-size-m; }

        .uk-heading-xsmall {
            font-size: $heading-xsmall-font-size-m;
        }
    
    }
    
    /* Laptop and bigger */
    @media (min-width: $breakpoint-large) {
    
        .uk-heading-mini { font-size: $heading-mini-font-size-l; }

        .uk-heading-xsmall {
            font-size: $heading-xsmall-font-size-l;
        }
    
    }
}


//// DOTNAV ////////////////////////

@mixin hook-inverse-dotnav-item() {

    border: none;
}

//// MODAL ////////////////////////

@mixin hook-modal-dialog() {
    border-radius: 0.5rem;
}

@mixin hook-modal-close() {
    background: $light;
    border-radius: 50rem;
}

@mixin hook-modal-close-default() {
    color: $danger;
    box-shadow: 0px 2px 11px 4px rgba(#cacaca, 0.5)
}

// dot nav

@mixin hook-dotnav-item() {

    border: 1px solid $primary;
}

@mixin hook-dotnav-item-active {
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
}