///// STYLES
// html, body {
//     width: 100%;
//     height: 100%;
// }

.line {
    display: inline-block
}

.text-light {
    font-weight: 300;
}

.text-medium {
    font-weight: 500;
}

.text-bold {
    font-weight: 600;
}

.text-lead-small {
    font-size: 1.15rem;
    // line-height: 1.125;
}

.text-xlarge {
    font-size: 1.875rem;
}

.text-xsmall {
    font-size: 0.75rem;
}

.raised {
    @include raised();
}

#features, #how_it_works, #pricing, #team {
    padding-top: 30px;
}

#pricing, #team {
    padding-bottom: 30px;
}

#navbar {
    background: $light
}

/* =============
 COIN TILE
============= */
.coin-tile {
    @include coin-tile();
}

/* =============
 SVG ICON
============= */
.svg-icon {
    width: 60px;
    height: 60px;

    &.small {
        width: 40px;
        height: 40px;
    }

    @media screen and (min-width: $breakpoint-medium) {
        width: 100px;
        height: 100px;

        &.small {
            width: 70px;
            height: 70px;
        }
    }
}

/*============
    SITE
===========*/


#navbar {

    .uk-logo {
        color: $dark;
    }


    .uk-navbar-container{

        @media screen and (min-width: $breakpoint-medium) {
            padding: 0 5rem;
        }

        .uk-navbar-sticky {
            box-shadow: 0px 1px 10px transparentize($dark, 0.7);
        }
    }
}

/*============
    CHECKBOX
=============*/

.custom-checkbox {

    input {
        display: none !important;
    }

    .icon {
        cursor: pointer;
        color: $tint;
    }
}

#about {

    .lead {
        @media screen and (min-width: $breakpoint-medium) {
            font-size: $text-lead-font-size;
            // color: $text-lead-color;
            line-height: $text-lead-line-height;
        }
    }
}

#benefits {

    .benefit-card {

        .caption {
            font-size: 0.8rem;
            @media screen and (min-width: $breakpoint-medium) {
                font-size: 1rem;
            }
        }
    }
}

// #parallax-shape {
//     position: relative;
//     height: 280px;
//     width: 165px;
//     margin: auto;

//     * {
//         position: absolute;
//     }

//     .shape-base {
//         width: 151px;
//         bottom: 26px;
//         left: 0px;
//         z-index: 12;
//     }

//     .shape-cube {
//         width: 38.5px;
//         right: 0;
//         bottom: 0;
//         z-index: 14;
//     }

//     .shape-loading {
//         width: 49px;
//         left: 74px;
//         bottom: 185px;
//         z-index: 13;
//     }

//     .shape-round {
//         width: 16.5px;
//         left: 40px;
//         bottom: 185px;
//         z-index: 11;
//     }
// }

/// How it works

#hiw-switches {
    width: 300px;
    display: inline-flex;
    justify-content: space-between;
    margin: 2.3rem 0;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        width: 90%;
        left: 5%;
        top: calc(50% - 3px);
        height: 3px;
        background: $tint;
    }

    .switch {
        cursor: pointer;
        font-size: 20px;
        width: 12px;
        height: 12px;
        line-height: 12px;
        vertical-align: middle;
        padding: 16px;
        border-radius: 50rem;
        text-align: middle;
        background: $light;
        z-index: 2;

        &.uk-active {
            position: relative;
            color: $light;
            background: $primary;

            &::before {
                content: '';
                display: block;
                width: 52px;
                height: 52px;
                position: absolute;
                z-index: 0;
                background: transparent;
                border: 3px solid $tint;
                left: -7px;
                top: -7px;
                border-radius: 50rem;
            }
        }
    }
}

#feat_idm, #feat_ip {

    transition: all 0.3s ease-in-out;
    @include raised();
    position: relative;

    .feat-list {
        animation: uk-fade-top-small 0.4s ease-in;
    }

    .feat-text {
        font-weight: 300;
    }

    .feat-toggle-expand {
        position: absolute;
        bottom: 5px;
        right: 5px;
        color: transparentize($dark, 0.8);
        
        transform: rotate(-135deg);

        transition: all 0.3s ease-in-out;
    }

    .feat-icon-small {
        img {
            width: 50px;
        }
    }

    &.closed {
        // background: transparent;
        // border: none;
        // box-shadow: none !important;

        .feat-list {
            display: none;
        }

        .feat-toggle-expand {
            color: $primary;
            transform: rotate(45deg);
        }

        // .feat-icon {
        //     @include coin-tile();
        //     cursor: pointer;
        // }

        // .feat-text {
        //     font-weight: 400;
        // }

        // [uk-grid] {
        //     align-items: center;
        // }
    }
}


/// MISSION
#mission {
    background-image: url('../assets/images/scatter_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// PRICING
#pricing {

    .pricing-card {
        font-size: 0.8rem;
        height: 100px;

        @media screen and (min-width: $breakpoint-medium) {
            font-size: 1rem;
            height: 150px;
        }
    }
}

/// TEAM
// #team {
    
// }

// MODAL
#request-demo-modal {

    #request-demo-form {

        .form-input, .form-textarea {
            position: relative;

            .uk-input, .uk-textarea {
                border-radius: 8px;
                border: 1px solid $primary;
            }

            .uk-textarea {
                resize: none;
            }

            &::after {
                content: attr(data-label);
                position: absolute;
                color: #A5A6A7;
                left: 0;
                top: 50%;
                font-weight: 300;
                transform: translateY(-50%);
                padding-left: 1rem;
                transition: all 0.2s ease-in;
                font-size: 0.9rem;
            }

            &.form-textarea::after {
                top: 5px;
                transform: none;
            }

            &.focused::after {
                top: 0;
                left: -10px;
                transform: translateY(-100%);
                font-size: 0.75rem;
            }

            
        }
    }
}

//// FOOTER
#footer {

    h5 {
        color: $light;
    }

    .footer-links {
        list-style-type: none;
        margin: 0;
        display: flex;
        li a {
            font-size: 0.9rem;
            padding: 0 0.5rem;
        }

        li {
            &::after {
                content: '/';
                color: $muted;
                opacity: 0.5;
            }

            &:last-child {
                &::after {
                    content: ''
                }
            }
        }
    }

    // .footer-nav
    .footer-nav {

        li a {
            // font-weight: 500;
            color: $light;

            &:hover, &.active {
                color: $muted;
            }
        }
    }

    #footer-address {
        color: $light;
        line-height: 1.8;
    }

    .newsletter-form {

        .newsletter-form-group {
            position: relative;
            
            input {
                background: transparent;
                border: 1px solid $light;
                border-radius: 8px;
                padding-right: 100px;
                font-size: 0.75rem;
                width: calc(100% - 25px)
            }

            button.uk-button {
                font-size: 0.75rem;
                position: absolute;
                height: 40px;
                right: 0px;
                top: 0;
                line-height: 40px;
                padding: 0;
                min-width: 100px;

                &:hover {
                    transform: translateX(-5%)
                }
            }
        }
    }
}

// Border
@each $key, $color in $modifications {

    .border-#{$key} {
        border: $global-border-width solid $color;
    }
}