/*
* -------------------------------------------------------------------------------------------------------------------
* This file manages the custom theming of UIKit.
* -> Refer to https://getuikit.com/docs/sass for more info.
* -> Follow the link: https://github.com/uikit/uikit/blob/develop/src/scss/variables.scss for a list of all variables
* -------------------------------------------------------------------------------------------------------------------
* Note: Do not use this file for writing custom css.
* Note: Use _hooks.scss for mixin overwrites
*/

// COLORS //
$primary:   #229DCA;
$secondary: #375091;
$tertiary:  #f0f0f0;
$tint:      #C3E5EA;

$success:   #87C887;
$warning:   #ffc107;
$danger :   #F66879;
$muted  :   #E5F0F6;
$info   :   #41BEE2;

$dark   :   #363C44;
$gray   :   #666;
$light  :   #ffffff;

// OVERRIDES //
$global-primary-background: $primary;
$global-secondary-background: $secondary;

$global-success-background: $success;
$global-warning-background: $warning;
$global-danger-background: $danger;
$global-muted-background: $muted;

$global-link-color: $primary;
$base-link-hover-text-decoration: none;

$global-color: $gray;
$global-emphasis-color: $dark;
$global-inverse-color: $light;

$global-font-family: /*'HelveticaNeue',*/ 'Lato', sans-serif;
$global-font-size: 16px;

// border
$global-border-radius: 0.5rem;
$global-border-width: 2px;
// extra

// $heading-medium-font-size-l: 3.25rem;
$heading-mini-font-size-l: 1.65rem;
$heading-xsmall-font-size-l: 2.25rem;

// cards
$card-title-font-size: 20px;

$card-large-body-padding-horizontal-l: 30px;
$card-large-body-padding-vertical-l: 50px;

// logo
$logo-font-family: 'Nunito', sans-serif;
$logo-font-size: 26px;

// dotnav
$dotnav-item-width: 12px;
$inverse-dotnav-item-background: rgba(255,255,255,0.35);

// modal
$modal-background: rgba(#5e5e5e, 0.36);
$modal-close-padding: 10px;
$modal-close-position: -$modal-close-padding;

// text
$text-lead-font-size: 1.875rem;

// container
$container-max-width: 1100px;

// lightbox
$lightbox-background: $light;

// => Add your own theming variables below //

$font-weight-strong: 700;

// tilted sections
$tilted-section-shape: "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%226%22%20height%3D%226%22%20viewBox%3D%220%200%206%206%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpolygon%20fill%3D%22#000%22%20points%3D%220%2C0%201000%2C30%200%2C30%22/%3E%3C/svg%3E";


// (x) Donot write custom styling here //
$gradient-color1: #7469F1;
$gradient-color2: #47CCE7;

// modifications for items
$modifications: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    warning: $warning,
    muted: $muted,
    info: $info,
    danger: $danger,
    default: $dark,
);