/*
* This is the project's main stylesheet.
* Import all the external stylesheets for this project into this stylesheet
* The space for your custom styles is provided
* You can either write the complete code there or
* Split the styling to modules and import them seperately.
*
* Note: Make sure all the stylesheets are imported.
* Only imported styles get compiled. To compile scss only run command:
*
*       +-----------------+
*       |    gulp sass    |
*       +-----------------+
*
* -> For theming UIKit use '_variables.scss' and '_hooks.scss'
* -> For including more fonts use '_fonts.scss'
* -> For more info on UIKit refer https://getuikit.com/docs/sass
*/


// import required fonts //
@import "fonts";

// import customized variables //
@import "variables";

// Import default variables and available mixins.
@import "../../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../../node_modules/uikit/src/scss/mixins-theme.scss";

// import custom mixin overrites (hooks)
@import "hooks";

// Import UIkit.
@import "../../../node_modules/uikit/src/scss/uikit-theme.scss";

// Write your custom styles below //

// You can either write the complete code there or
// Split the styling to modules and import them seperately.


html, body {
    width: 100%;
    height: 100%;
}

.line {
    display: inline-block
}

.text-light {
    font-weight: 300;
}

.text-bold {
    font-weight: 600;
}

.text-lead-small {
    font-size: 1.15rem;
    // line-height: 1.125;
}


.raised {
    box-shadow: 0px 2px 11px 4px rgba(202,202,202,0.5)
}

.footer {
    background: darken($muted, 10%)
}

.caption {
    font-size: 1.285rem;
    padding: 0 1.5rem;
}

#features {
    padding-top: 30px;
}

/* =============
 COIN TILE
============= */
.coin-tile {
    padding: 15px;
    border-radius: $global-border-radius;
    box-shadow: 0 2px 4px 0 rgba(202, 202, 202, 0.5);
    background: $light;
}

/* =============
 SVG ICON
============= */
.svg-icon {
    width: 100px;
    height: 100px;

    &.small {
        width: 70px;
        height: 70px;
    }
}