<div class="uk-section uk-section-secondary uk-preserve-color" id="about">
    <div class="uk-container uk-text-center uk-light">
        <h2 class="uk-heading-xsmall text-light">NextOrbit Platform</h2>

        <div class="uk-text-lead text-light">
            <p>With our Advanced Predictors and forecasting algorithms, we help you to Predict and Respond to demand peaks and troughs. We enable you to take action before you lose customer demand.</p>
            <p>NextOrbit help you to price up or down to maximize profits.</p>
        </div>
    </div>
</div>