<div class="uk-section uk-section-secondary uk-preserve-color">
    <div class="uk-container uk-text-center uk-light">
        <div class="uk-grid-large uk-flex-middle" uk-grid>
            <div class="uk-width-1-1 uk-width-1-2@m uk-flex-last@m">
            
            </div>
            <div class="uk-width-1-1 uk-width-1-2@m uk-text-right@m">
                <h2 class="uk-heading-small text-light">Nextorbit Platform</h2>
                <p class="text-lead-small">
                    NextOrbit is a Cloud Based SAAS platform that enables Retailers to strengthen operational decision-making, support high growth and enhance great customer experience using Artificial Intelligence and Machine Learning. 
                </p>
            </div>
        </div>
        <div class="uk-padding-small uk-text-right@m">
            <button class="uk-button uk-button-inverse uk-button-secondary">
                Get Started
            </button>
        </div>
    </div>
</div>