<div class="uk-section uk-section-default uk-section-tilt uk-padding-remove-top" id="benefits">

    <div class="uk-container uk-text-center">

        <h2 class="uk-heading-xsmall text-light uk-margin-medium-bottom">Benefits</h2>

        <div class="uk-grid-small" uk-grid>

            {% for benefit in data.benefits %}
                <div class="uk-width-1-2 uk-width-1-4@m uk-text-center">
                    <div class="uk-card uk-card-default uk-card-body uk-height-1-1">
                        <img class="svg-icon" alt="Intelligent Demand Planning" uk-img="data-src: {{data.assets.images}}/svg_icons/benefits/{{benefit.icon}}">
                        <div class="uk-margin-top caption uk-margin-top" title="{{benefit.text}}">
                            {{benefit.text}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a href="#" class="uk-button uk-button-primary uk-margin-large-top uk-button-raised">
            Get Started
        </a>
    </div>

</div>