<div class="uk-section uk-section-default uk-section-tilt uk-padding-remove-top" id="benefits">

    <div class="uk-container uk-text-center">

        <h2 class="uk-heading-xsmall text-light uk-margin-medium-bottom" uk-scrollspy="cls: uk-animation-fade; repeat: true">Benefits</h2>

        <div class="uk-grid-medium" uk-grid uk-scrollspy="target: > div; cls: uk-animation-slide-top-small; delay: 100; repeat: true">

            {% for benefit in data.benefits %}
                <div class="uk-width-1-2 uk-width-1-4@m uk-text-center">
                    <div class="uk-card uk-card-default uk-card-body uk-height-1-1">
                        <img class="svg-icon" alt="Intelligent Demand Planning" uk-img="data-src: {{data.assets.images}}/svg_icons/benefits/{{benefit.icon}}">
                        <div class="uk-margin-top caption uk-margin-top" title="{{benefit.text}}">
                            {{benefit.text}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a class="uk-button uk-button-gradient uk-margin-large-top uk-button-raised" uk-toggle="#request-demo-modal" uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 100; repeat: true">
            Get Started
        </a>
    </div>

</div>