<div class="uk-section uk-section-muted" id="features">
    <div class="uk-container uk-text-center">
        <h2 class="uk-heading-xsmall text-light uk-margin-medium-bottom" uk-scrollspy="cls: uk-animation-fade; repeat: true">Features</h2>

        <div class="uk-grid-large" uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium; delay:300; repeat: true" uk-grid>

            <div class="uk-width-1-1 uk-width-1-3@m uk-padding-large@m">

                <div class="uk-card uk-card-small uk-card-body uk-card-tint uk-card-danger" id="feat_idm">

                    <div class="feat-icon-small">
                        <img class="small svg-icon" alt="Intelligent Demand Planning" uk-img="data-src: {{data.assets.images}}/svg_icons/features/idm.svg">
                    </div>

                    <div class="feat-head">
                        <h3 class="feat-title uk-card-title uk-margin-remove">
                            Intelligent Demand Forecasting
                        </h3>

                        <p class="feat-text">
                            Machine Learning and Human Judgement - we help Combine the best of both the worlds. Decisions are delivered daily, weekly, monthly & quarterly.
                        </p>
                    </div>

                    <div class="feat-list uk-text-left">
                        <ul class="uk-list uk-list-bullet text-light uk-text-small feat-list">
                            <li>Demand Planning</li>
                            <li>Store Ordering</li>
                            <li>Vendor Purchase Order Triggers</li>
                            <li>Predictive OOS(Out of Stock) Alerts</li>
                            <li>Continuous Refinement of Decisions</li>
                        </ul>
                    </div>

                </div>
            
            </div>

            <div class="uk-width-1-1 uk-width-1-3@m uk-padding-large@m">

                <div class="uk-card uk-card-small uk-card-body uk-card-tint uk-card-success" id="feat_ip">
                    <div class="feat-icon-small">
                        <img class="small svg-icon" alt="Intelligent Demand Planning" src="{{data.assets.images}}/svg_icons/features/ip.svg">
                    </div>
                    
                    <div class="feat-head">
                        <h3 class="feat-title uk-card-title uk-margin-remove">
                            Intelligent Pricing
                        </h3>

                        <p class="feat-text">
                            Machine Learning and Human Judgement - we help Combine the best of both the worlds. Decisions are delivered daily, weekly, monthly & quarterly.
                        </p>
                    </div>

                    <div class="feat-list">
                        <ul class="uk-list uk-list-bullet text-light uk-text-small feat-list">
                            <li>Differential pricing strategies</li>
                            <li>Promotions Recommendations</li>
                            <li>Competitor price monitoring & alerts</li>
                            <li>Markdown recommendations</li>
                            <li>Continuous Improvement of algorithms & decisions</li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="uk-width-1-1 uk-width-1-3@m uk-padding-large@m">

                <div class="uk-card uk-card-small uk-card-body uk-card-tint uk-card-info" id="feat_ip">
                    <div class="feat-icon-small">
                        <img class="small svg-icon" alt="Intelligent Demand Planning" src="{{data.assets.images}}/svg_icons/features/ip.svg">
                    </div>

                    <div class="feat-head">
                        <h3 class="feat-title uk-card-title uk-margin-remove">
                            PriceEye – Competitor Price Monitoring platform
                        </h3>

                        <p class="feat-text">
                            The NextOrbit AI/Machine Learning-enabled competitor price monitoring platform uses atleast a dozen attributes to identify similar or substitutable items, and retrieves their pricing and in-stock status multiple times in a day. PriceEye help you to:
                        </p>
                    </div>

                    <div class="feat-list">
                        <ul class="uk-list uk-list-bullet text-light uk-text-small feat-list">
                            <li>Get real-time competition pricing insight</li>
                            <li>Identify subsitituable /similar products with a “similarity” score</li>
                            <li>Analyze /slide & dice historical competitor pricing</li>
                            <li>Optimize Pricing strategies</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <div class="uk-margin-top uk-text-center uk-hidden@m">
            <a uk-scrollspy-class="uk-animation-slide-bottom-small" class="uk-button uk-button-gradient-outline uk-button-muted uk-margin-large-top" uk-toggle="#request-demo-modal">Request Demo</a>
        </div>

    </div>
</div>