<div class="uk-section uk-section-muted" id="features">
    <div class="uk-container uk-text-center">
        <h2 class="uk-heading-small text-light uk-margin-medium-bottom">Features</h2>

        <div class="uk-grid-large uk-flex-middle" uk-grid>

            <div class="uk-width-1-1 uk-width-1-2@m uk-padding-large">

                <div class="uk-card uk-card-small uk-card-body uk-card-tint uk-card-danger raised">
                    <div uk-grid>
                        <div class="uk-width-auto">
                            <img class="small svg-icon" alt="Intelligent Demand Planning" uk-img="data-src: {{data.assets.images}}/svg_icons/idm.svg">
                        </div>
                        <div class="uk-width-expand uk-text-left">
                            <h3 class="uk-card-title">Intelligent Demand Planning</h3>
                            <p class="text-light uk-text-small">
                                <span class="line">Machine Learning and Human Judgement - we help</span> 
                                <span class="line">Combine the best of both the worlds.</span>
                                <ul class="uk-list uk-list-bullet text-light uk-text-small">
                                    <li>Demand Planning</li>
                                    <li>Store Ordering</li>
                                    <li>Procurement Recommendations</li>
                                    <li>Shelf Space Allocation & Optimisation</li>
                                    <li>Intelligent store ordering to enhance sales & Margins.</li>
                                </ul>
                            </p>
                            
                        </div>
                    </div>
                </div>

                <div class="uk-margin-large-top uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <div class="coin-tile">
                            <img class="small svg-icon" alt="Intelligent Pricing" src="{{data.assets.images}}/svg_icons/ip.svg">
                        </div>
                    </div>
                    <div class="uk-width-expand uk-text-left">
                        <h3 class="uk-heading-mini text-bold uk-margin-small">Intelligent Pricing</h3>
                        <span class="line">Better price realization to improve Sales & Margin</span>
                    </div>
                </div>
            
            </div>
            <div class="uk-width-1-1 uk-width-1-2@m uk-padding-large">
                
                <div>
                    <img alt="Intelligent Pricing" src="{{data.assets.images}}/dashboard.png">
                </div>

                <a href='#' class="uk-button uk-button-outline uk-button-primary uk-margin-large-top">Request Demo</a>

            </div>

        </div>

    </div>
</div>