<div class="uk-section uk-section-muted" id="features">
    <div class="uk-container uk-text-center">
        <h2 class="uk-heading-small text-light uk-margin-medium-bottom">Features</h2>

        <div class="uk-grid-large uk-flex-middle" uk-grid>

            <div class="uk-width-1-1 uk-width-1-2@m uk-padding-large@m">

                <div class="uk-card uk-card-small uk-card-body uk-card-tint uk-card-danger" id="feat_idm">

                    <a class="feat-toggle-expand"><i class="fas fa-arrow-right"></i></a>

                    <div uk-grid>
                        <div class="uk-width-auto">
                            <div class="feat-icon">
                                <img class="small svg-icon" alt="Intelligent Demand Planning" uk-img="data-src: {{data.assets.images}}/svg_icons/idm.svg">
                            </div>
                        </div>
                        <div class="uk-width-expand uk-text-left">
                            <h3 class="uk-card-title">Intelligent Demand Planning</h3>
                            <p class="feat-text">
                                <span class="line uk-text-justify">Machine Learning and Human Judgement - we help combine the best of both the worlds.</span>
                                <ul class="uk-list uk-list-bullet text-light uk-text-small feat-list">
                                    <li>Demand Planning</li>
                                    <li>Store Ordering</li>
                                    <li>Procurement Recommendations</li>
                                    <li>Shelf Space Allocation & Optimisation</li>
                                    <li>Intelligent store ordering to enhance sales & Margins.</li>
                                </ul>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="uk-margin-top uk-card uk-card-small uk-card-body uk-card-tint uk-card-success closed" id="feat_ip">

                    <a class="feat-toggle-expand"><i class="fas fa-arrow-right"></i></a>

                    <div uk-grid>
                        <div class="uk-width-auto">
                            <div class="feat-icon">
                                <img class="small svg-icon" alt="Intelligent Demand Planning" uk-img="data-src: {{data.assets.images}}/svg_icons/idm.svg">
                                {# <img class="small svg-icon" alt="Intelligent Prixing" uk-img="data-src: {{data.assets.images}}/svg_icons/ip.svg"> #}
                            </div>
                        </div>
                        <div class="uk-width-expand uk-text-left">
                            <h3 class="uk-card-title">Intelligent Pricing</h3>
                            <p class="feat-text">
                                <span class="line uk-text-justify">Better price realization to improve Sales & Margin.</span>
                                <ul class="uk-list uk-list-bullet text-light uk-text-small feat-list">
                                    <li>Better product valuation</li>
                                    <li>Differential pricing strategies</li>
                                    <li>Promotions Recommendations</li>
                                    <li>Competitor price monitoring & alerts</li>
                                    <li>Markdown recommendations</li>
                                </ul>
                            </p>
                            
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="uk-width-1-1 uk-width-1-2@m uk-padding-large">
                
                <div id="feature-image-idm">
                    <img alt="Intelligent Pricing" src="{{data.assets.images}}/dashboard_idm.png">
                </div>

                <div id="feature-image-ip" class="uk-hidden">
                    <img alt="Intelligent Pricing" src="{{data.assets.images}}/dashboard_ip.png">
                </div>

                <a class="uk-button uk-button-gradient-outline uk-button-muted uk-margin-large-top" uk-toggle="#request-demo-modal">Request Demo</a>

            </div>

        </div>

    </div>
</div>