<div class="uk-section uk-flex uk-flex-middle" id="hero" uk-height-viewport="offset-top: true">
    <div class="uk-container uk-text-center">

        <div class="uk-small-grid uk-flex-middle" uk-grid>

            <div class="uk-width-1-1 uk-width-2-5@m uk-flex-last@m uk-clearfix">
                <img width="420" height="420" class="uk-float-right@m" alt="Tite Graphics" uk-img="data-src: assets/images/title_graphics.svg">
            </div>

            <div class="uk-width-1-1 uk-width-3-5@m uk-text-left@m">
                <h1 class="uk-heading-medium text-light">
                    <span class="line">We help E-Commerce,</span>
                    <span class="line">Retailers and Brands Improve </span> 
                    <span class="line">profit opportunities using </span>
                    <span class="line">AI-enabled <strong class="text-bold">Demand Predictions</strong></span>
                    <span class="line">and <strong class="text-bold">Adaptive pricing</strong>.</span>
                </h1>
                <a href="#" class="uk-button uk-button-primary uk-button-raised">Learn More</a>
            </div>
            
        </div>
        
    </div>
</div>