<div class="uk-section uk-section-default uk-flex uk-flex-column" id="hero" uk-height-viewport="offset-top: true">
    <div class="uk-container uk-text-center uk-margin-auto-top">

        <div class="uk-flex-middle" uk-grid>

            <div class="uk-width-1-1 uk-width-1-2@m uk-flex-last@m uk-clearfix">
                <img class="uk-float-right@m" alt="Tite Graphics" uk-img="data-src: assets/images/title_graphics.svg">
            </div>

            <div class="uk-width-1-1 uk-width-1-2@m uk-text-left@m">
                <h1 class="uk-heading-small text-light">
                    Powering key <strong>Retailer, Brand & Distributor decisions</strong> using AI and Machine Learning
                </h1>

                <div class="uk-child-width-1-2" uk-grid>
                    <div class="uk-text-center">
                        <div class="uk-border-rounded border-danger uk-padding-small">
                            Demand Forecasting
                        </div>
                    </div>

                    <div class="uk-text-center">
                        <div class="uk-border-rounded border-success uk-padding-small">
                            Cadence of Price Markdowns
                        </div>
                    </div>

                    <div class="uk-text-center">
                        <div class="uk-border-rounded border-warning uk-padding-small">
                            Predictive Alerts
                        </div>
                    </div>

                    <div class="uk-text-center">
                        <div class="uk-border-rounded border-info uk-padding-small">
                            Supplier PO Triggers
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="uk-margin-large-top uk-text-center">
        <a href="#" class="uk-button uk-button-gradient uk-button-raised">Learn More</a>
    </div>
</div>