<div class="uk-section uk-section-tertiary" id="how_it_works">
    <div class="uk-container uk-text-center">
        <h2 class="uk-heading-small text-light uk-margin-remove-bottom">How It Works</h2>

        <div id="hiw-switches" uk-switcher="connect: .how-it-works-switcher; toggle: > a; animation: uk-animation-fade;">
            <a class="switch">1</a>
            <a class="switch">2</a>
            <a class="switch">3</a>
        </div>

        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-1-1 uk-width-1-2@m">
                <ul class="uk-switcher how-it-works-switcher">
                    <li>
                        <div class="uk-placeholder">
                            <i class="fas fa-database uk-text-large"></i>
                        </div>
                    </li>
                    <li>
                        <div class="uk-placeholder">
                            <i class="fas fa-image uk-text-large"></i>
                        </div>
                    </li>
                    <li>
                        <div class="uk-placeholder">
                            <i class="fas fa-image uk-text-large"></i>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="uk-width-1-1 uk-width-1-2@m">
                <ul class="uk-switcher how-it-works-switcher">
                    <li>
                        {% include "how-it-works/collecting-data.njk" %}
                    </li>
                    <li>
                        {% include "how-it-works/platform-on-cloud.njk" %}
                    </li>
                    <li>
                        <div class="uk-placeholder">Lorem Ipsum</div>
                    </li>
                </ul>
            </div>

            <div class="uk-margin-auto-left uk-width-1-1 uk-width-1-2@m">
                <div class="uk-button uk-button-outline uk-button-primary">Request Demo</div>
            </div>
        </div>
    </div>
</div>