<div class="uk-section uk-section-tertiary" id="how_it_works">
    <div class="uk-container uk-text-center">
        <h2 class="uk-heading-xsmall text-light uk-margin-remove-bottom">How It Works</h2>

        <div uk-lightbox>
            <a href="{{data.assets.images}}/how_it_works.png" data-alt="How it works">
                <img alt="Intelligent Demand Planning" uk-img="data-src: {{data.assets.images}}/how_it_works.png" uk-responsive>
            </a>
        </div>

        <div class="uk-text-center uk-margin-top">
            <div class="uk-button uk-button-outline uk-button-primary">Request Demo</div>
        </div>

    </div>
</div>