<div class="uk-section uk-section-muted" id="mission">

    <div class="uk-container uk-text-center">

        <h2 class="uk-heading-xsmall text-light" uk-scrollspy="cls: uk-animation-fade; repeat: true">NextOrbit Mission</h2>

        <div class="uk-padding-large uk-text-large" uk-scrollspy="cls: uk-animation-slide-bottom; delay:200; repeat: true">
            Enable enterprises of all sizes achieve and sustain credible competitive differentiation by the power of cloud, AI and Machine Learning
        </div>
    </div>

</div>