<div class="uk-section uk-section-muted" id="mission">

    <div class="uk-container uk-text-center">

        <h2 class="uk-heading-xsmall text-light">NextOrbit Mission</h2>

        <div class="uk-padding-large text-xlarge">
            Enable enterprises of all sizes achieve and sustain credible competitive differentiation by the power of cloud, AI and Machine Learning
        </div>
    </div>

</div>