<div class="uk-section uk-section-muted" id="pricing" uk-height-viewport="offset-bottom: 250px;">
    <div class="uk-container uk-text-center">

        <h2 class="uk-heading-small text-light uk-margin-remove-bottom">Platform Price</h2>

    </div>
</div>