<div class="uk-section uk-section-default" id="pricing">
    <div class="uk-container uk-text-center">

        <h2 class="uk-heading-xsmall text-light uk-margin-remove-bottom" uk-scrollspy="cls: uk-animation-fade; repeat: true">Pricing</h2>

        <div class="uk-padding-large">
            <div class="uk-grid-large uk-flex-middle" uk-grid>

                <div class="uk-width-1-1 uk-width-1-2@m">

                    <div class="uk-grid-small uk-child-width-1-2" uk-grid uk-scrollspy="target: > div > div; cls: uk-animation-scale-down; delay:200; repeat: true">

                    {% for item in data.pricing %}
                        <div>
                            <div class="pricing-card uk-card uk-card-small uk-flex uk-flex-middle uk-flex-center uk-card-small uk-card-body uk-card-tint uk-card-{{item.tint}} raised">
                                <span class="text-medium">{{item.title}}</span>
                            </div>
                        </div>
                    {% endfor %}
                        
                    </div>
                </div>

                <div class="uk-width-1-1 uk-width-1-2@m uk-text-left">

                    <h3 class="uk-text-large uk-heading-underline text-bold" uk-scrollspy="cls: uk-animation-slide-right-medium; repeat: true">Transparency & Flexibility</h3>

                    <div class="uk-text-justify uk-text-small uk-margin-top" uk-scrollspy="cls: uk-animation-fade; repeat: true; delay:200">
                        <p>
                            A transparent cost effective monthly subscription model based on the number of stores and categories. No contracts or lockin period for the business.
                        </p>

                        <p>
                            Fees based on your number of transactions, number of products, and for brick and mortar Retailer - number of stores. 
                        </p>
                    </div>

                    <div class="uk-margin-medium-top uk-text-left@m" uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 600; repeat: true">
                        <a href="#" class="uk-button uk-button-gradient uk-button-raised" uk-toggle="#request-demo-modal">Get Started</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>