<div class="uk-section uk-section-default" id="pricing">
    <div class="uk-container uk-text-center">

        <h2 class="uk-heading-xsmall text-light uk-margin-remove-bottom">Pricing</h2>

        <div class="uk-padding-large">
            <div class="uk-grid-large uk-flex-middle" uk-grid>

                <div class="uk-width-1-1 uk-width-1-2@m">

                    <div class="uk-grid-medium uk-child-width-1-2" uk-grid>
                        <div>
                            <div class="uk-card uk-card-large uk-height-1-1 uk-card-small uk-card-body uk-card-tint uk-card-warning raised">
                                <span class="text-medium">Onboarding Fee</span>
                            </div>
                        </div>

                        <div>
                            <div class="uk-card uk-card-large uk-height-1-1 uk-card-small uk-card-body uk-card-tint uk-card-danger raised">
                                <span class="text-medium">No contracts</span>
                            </div>
                        </div>

                        <div>
                            <div class="uk-card uk-card-large uk-height-1-1 uk-card-small uk-card-body uk-card-tint uk-card-success raised">
                                <span class="text-medium">Monthly Subscription Fee</span>
                            </div>
                        </div>

                        <div>
                            <div class="uk-card uk-card-large uk-height-1-1 uk-card-small uk-card-body uk-card-tint uk-card-info raised">
                                <span class="text-medium">Flexible</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-width-1-1 uk-width-1-2@m uk-text-left">

                    <h3 class="uk-text-large uk-heading-underline text-bold">Transparency & Flexibility</h3>

                    <div class="uk-text-justify uk-text-small uk-margin-top">
                        <p>
                            A transparent cost effective monthly subscription model based on the number of stores and categories. No contracts or lockin period for the business.
                        </p>

                        <p>
                            Fees based on your number of transactions, number of products, and for brick and mortar Retailer - number of stores. 
                        </p>
                    </div>

                    <div class="uk-margin-medium-top uk-text-left@m">
                        <a href="#" class="uk-button uk-button-gradient uk-button-raised">Get Started</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>