{% import "macros/slider.macro.njk" as slider %}

<div class="uk-section uk-section-light" id="team">
    <div class="uk-container uk-text-center">
        <h2 class="uk-heading-mini text-light uk-margin-medium-bottom" uk-scrollspy="cls: uk-animation-fade; repeat: true">Our Team</h2>

        {{ slider.people('team', data.team, data) }} 

    </div>
</div>