<div class="uk-section uk-section-light" id="what_we_solve">
    <div class="uk-container uk-text-center">
        <h2 class="uk-heading-mini text-light uk-margin-medium-bottom" uk-scrollspy="cls: uk-animation-fade; repeat: true">What We Solve</h2>

        <div class="uk-grid-medium" uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-small; delay: 100; repeat: true" uk-grid>

            <div class="uk-width-1-1 uk-width-1-2@m">

                <div class="wws-card uk-card uk-card-body uk-card-tint uk-card-info">

                    <h3 class="wws-title uk-card-title uk-margin-remove-top">
                        PRICING
                    </h3>

                    <div class="wws-list uk-text-left">
                        <ul class="uk-list uk-list-divider uk-text-small feat-list" uk-scrollspy="target: > li; cls: uk-animation-slide-bottom-small; delay:100; repeat: true">
                            <li>How do we know if we are pricing right? E.g. pricing for profit as opposed to pricing for sales?</li>
                            <li>Should we in fact raise prices? What’s the price elasticity (ability to pay) by product, by location and day?</li>
                            <li>How can we make changes, at speed? How do we not leave money on the table?</li>
                            <li>Can we conduct “price experiments”, and get a quick read on results?</li>
                            <li>What customer attributes are significant to drive demand?</li>
                            <li>What are frequently occurring baskets and which products are the “key basket holders”? How do we minimize discounting?</li>
                        </ul>
                    </div>

                </div>
            
            </div>

            <div class="uk-width-1-1 uk-width-1-2@m">

                <div class="wws-card uk-card uk-card-body uk-card-tint uk-card-success" >

                    <h3 class="wws-title uk-card-title uk-margin-remove-top">
                        DEMAND PLANNING
                    </h3>

                    <div class="wws-list uk-text-left">
                        <ul class="uk-list uk-list-divider uk-text-small feat-list" uk-scrollspy="target: > li; cls: uk-animation-slide-bottom-small; delay:100; repeat: true">
                            <li>How should we automate the demand planning process, and make it more intelligent? How do we incorporate factors that impact demand?(e.g. local events, macro-economic factors, holidays and so on)</li>
                            <li>How can we determine latent demand?</li>
                            <li>How do I ensure the delicate balance between over-stock and out of stock?</li>
                            <li>How should I distribute stock across my stores and on-line?</li>
                            <li>How should I anticipate demand, and stock up, so as to not lose demand?</li>
                        </ul>
                    </div>

                </div>
            
            </div>

        </div>
    </div>
</div>