<div class="uk-section uk-section-default uk-padding-remove" id="footer">

    <div class="uk-section uk-padding-small uk-text-center">
        <span class="text-bold">&copy; 2019 NextOrbit</span>
    </div>
</div>