<div class="uk-section uk-section-default uk-padding-remove" id="footer">

    <div class="uk-padding">
        <div class="uk-container">
            <div class="uk-grid-small" uk-grid>

                <div class="uk-width-1-1 uk-width-1-4@m uk-flex-last@m">
                    <h5 class="uk-text-light uk-margin-small-bottom">Sign Up For Our Newsletter</h5>
                </div>

                <div class="uk-width-1-1 uk-width-1-4@m">
                    <h5 class="uk-text-light uk-margin-small-bottom">Other links</h5>
                    <ul class="uk-nav uk-nav-default footer-nav">
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Accessibility</a></li>
                    </ul>
                </div>

                <div class="uk-width-1-1 uk-width-1-4@m">
                    <h5 class="uk-text-light uk-margin-small-bottom">Articles & Blogs</h5>

                </div>

                <div class="uk-width-1-1 uk-width-1-4@m uk-flex-first@m">
                    <a class="uk-logo uk-flex uk-flex-middle" href="{{app.url}}">
                        <img src="{{app.logo}}" alt="{{app.title}}" width="32px" uk-img>
                        <span class="uk-margin-small-left">{{app.title}}</span>
                    </a>

                    <div class="uk-text-small uk-margin-top">
                        <span class="line">Infusing Intelligence</span>
                        <span class="line">into Key Retailer & Brand Decisions</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section uk-padding-small uk-text-center">
        <span class="text-bold">&copy; 2019 NextOrbit</span>
    </div>
</div>