<div class="uk-section uk-section-secondary uk-padding-remove" id="footer">
    <div class="uk-container uk-margin-top">
        <div class="uk-grid-medium" uk-grid uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; delay:150; repeat: true">

            <div class="uk-width-1-2 uk-width-1-4@m">
                <a class="uk-logo uk-flex uk-flex-middle" href="{{app.url}}">
                    <img src="{{app.logo}}" alt="{{app.title}}" width="32px" uk-img>
                    <span class="text-light uk-margin-small-left">{{app.title}}</span>
                </a>

                <div id="footer-address" class="uk-margin-top text-xsmall">
                    <div class="text-bold">Address:</div>
                    <div class="text-light">
                        <b>Texas</b> - 4512 Legacy Drive, Suite 100, Plano, TX 75024
                    </div>
                    <div class="text-light uk-margin-top">
                        <b>New York</b> - 4512 Legacy Drive, Suite 100, Plano, TX 75024
                    </div>
                    <div class="text-light uk-margin-top">
                        <b>Bangalore</b> - 2nd Floor, Salarpuria Tower -1,  No. 22, Industrial Layout, 7th Block, Koramangala, Bengaluru, Karnataka 560095
                    </div>
                </div>

            </div>

            <div class="uk-width-1-2 uk-width-1-4@m uk-flex-last@m">
                <h5 class="text-light uk-margin-small-bottom">Articles & Blogs</h5>
                <ul class="uk-list uk-list-divider text-xsmall">
                    <li><a href="#">Retailing to E-tailing: In search for a symbiotic relationship</a></li>
                    <li><a href="#">Impact of out-of-stocks on sales and customer satisfaction</a></li>
                    <li><a href="#">Improvement in customer experience, in-stock position using AI...</a></li>
                </ul>
                <div class="uk-text-right uk-text-small">
                    <a href="#" style="font-size:0.625rem">View All</a>
                </div>
            </div>

            <div class="uk-width-1-2 uk-width-1-4@m">
                <h5 class="text-light uk-margin-small-bottom">Other links</h5>
                <ul class="uk-nav uk-nav-default footer-nav uk-text-small">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Accessibility</a></li>
                </ul>
            </div>

            <div class="uk-width-1-2 uk-width-1-4@m uk-flex-last@m">
                <h5 class="text-light uk-margin-small-bottom">Sign Up For Our Newsletter</h5>

                <form action="#" id="newsletter-form" class="uk-margin-top">
                    <div class="newsletter-form-group">
                        <input type="text" class="uk-input" name="email" placeholder="Email Address">
                        <button type="submit" class="uk-button uk-button-inverse uk-button-secondary">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="uk-section uk-padding-small uk-text-center">
        <div class="text-medium">&copy; 2019 NextOrbit</div>
    </div>
</div>