<li>
    <a href="#about">About</a>
</li>
<li>
    <a href="#features">Features</a>
</li>
<li>
    <a href="#benefits">Benefits</a>
</li>
<li>
    <a href="#how_it_works">How It Works</a>
</li>
<li>
    <a href="#team">Team</a>
</li>
<li>
    <a href="#blog">Blog</a>
</li>