<li>
    <a href="{{app.url}}#about">About</a>
</li>
<li>
    <a href="{{app.url}}#features">Features</a>
</li>
<li>
    <a href="{{app.url}}#benefits">Benefits</a>
</li>
<li>
    <a href="{{app.url}}#how_it_works">How It Works</a>
</li>
<li>
    <a href="{{app.url}}#what_we_solve">What We Solve</a>
</li>
<li>
    <a href="{{app.url}}#team">Team</a>
</li>
<li>
    <a href="{{app.url}}/blog.html">Blog</a>
</li>