<div id="request-demo-modal" class="uk-flex-top" uk-modal>

    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <h2 class="text-light uk-text-center" style="font-size:25px">Get Started</h2>

        <div class="uk-grid-medium" uk-grid>
            
            <div class="uk-width-1-1 uk-width-1-2@m">
                <h3 class="uk-text-bold uk-margin-small-bottom" style="font-size:20px">Pain Problems to Solve</h3>
                <div class="uk-text-small uk-text-light">Select 3 problems</div>
            </div>

            <div class="uk-width-1-1 uk-width-1-2@m">
                <h3 class="uk-text-bold uk-margin-small-bottom" style="font-size:20px">Benefit Expected</h3>
                <div class="uk-text-small uk-text-light">Select Top one or two</div>
            </div>
        </div>
    
    </div>
</div>